/*
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/

}

.boxcontainer {
    max-width: 960px;
    display: grid;

    grid-template-columns: repeat(6, 1fr);

    grid-gap: 2em;
}

/*
.box {
    width: 300px;
    height: 300px;
    float: left;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    padding: 1em;
    grid-column-gap: 10rem;
    max-height: 300px;
    max-width: 300px;
    align-items: center;
    vertical-align: middle;
}
*/
.box {
    /* Arrange children using flexbox */
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    width: 90%;
    /* Center container */
    margin: 0 auto;
}

.box {
    /* images display inline by default and act like text. We want them to act like divs, so display block */
    display: block;
    /* our width setting for mobile, one image per line */
    flex-basis: 100%;
    /* provide some space between our images */
    padding: 10px;
    /* ensure padding doesn't cause images to wrap, it should be within the width rather than in addition */
    box-sizing: border-box;
}
