body {
    background: #333;
    font-family: sans-serif;
    font: helvetica;
    color: white;
    padding: 10em;
}

.header {
    font-size: 40px;
}

p {
    padding: .5em;
    font-size: 1em;
}

.nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 30px;
}

.nav li {
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 20px;
    text-decoration: none;

}

.nav li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    font-size: 30px;
    font-family: sans-serif;


}

.nav li a:hover {

    background: black;
    color: darkorange;
    border-radius: 20px;
    text-decoration-line: underline;


}

/*
.wrapper {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax (100px, auto);
    grid-column-gap: 10em;
    grid-template-areas:
        "logo"
        "nav"
        "photo"
        "text"
        "footer"


}

.header {
    grid-area: h;
    background: white;
}
*/

@media (min-width) {
    p {
        color: red
    }
}
