body {
    background: #333;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    padding: 1em;
    font-size: 20px;
}

h3 {
    font-size: 2em;
}

.acknowledge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.mainmap {
    display: flex;
    flex-direction: row;
    /*    border: 1em solid black;*/
    /*    justify-content: space-between;*/

}

#map {
    border: 0.3em solid black;
}

.locationlist {
    line-height: 1.3em;
    font-size: 1em;

}

.locationbox {

    display: flex;
    height: 600px;
    float: right;
    padding: 1em;
    /*    border: 1em solid white;*/
}

.maintxt {
    border: #999;
    width: 600px;
    height: 600px;
}

.txtbox {
    border: 1px solid rgb(34, 33, 33);
    width: 500px;
    /*    height: 700px;*/
    background-color: #666;
    position: relative;
    left: 52rem;
    bottom: auto;
    text-align: center;
    opacity: 0.9;
}


.navframe {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.mainthree {

    width: 1350px;
    height: 800px;
    padding: 5px;
    margin: auto;
    box-shadow: 0px 0px 0px 10px 2px grey;
    /*    border: 5px solid;*/
    background-image: url(SA+Adair+to+Black+Mtn+B&W.jpeg);
    background-size: cover;
    backface-visibility: visible;
}


.flexone {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flextwo {
    flex-basis: 15rem;
    width: 5rem;
    height: 5rem;
    background: none;
    margin: 1rem;
    flex-grow: ;
}

.headline {
    margin-top: 30px;
    font-size: 1em;
}


#logo img {

    max-height: 300px;
    max-width: 300px;
    margin-top: 20px;

}

.searching {
    margin-right: 10px;
}

.search-bar {
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    right: 50%;
    transform: translate(-50%, -50%);
    background: #666;
    height: 30px;
    border-radius: 60px;
    padding: 1em;
    margin-top: 40px;
    margin-top: 40px;
    margin-left: 50px;
    justify-content: end;


}

.search-bar:hover > .search-text {
    width: 180px;
    padding: 0 6px;
}

.search-bar:hover > .search-button {
    background: darkorange;
}

.search-button {
    color: white;
    text-decoration: none;
    /*    float: right;*/
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;

}

.search-text {
    color: #333;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-size: 1em;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

/*
footer .item {
    flex: 0 48%;
}*/


.footer {
    /*    float: right;*/
    clear: both;
    list-style: none;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 30px;
    grid-area: f;
}

.footer .right {
    text-align: right;
    flex: 0 48%;
}

.footer li {
    display: inline-block;
    text-decoration: none;

}

.footer li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    font-size: 0.8em;
    font-family: 'M PLUS Rounded 1c', sans-serif;


}

.footer li a:hover {
    color: darkorange;
    text-decoration-line: underline;
}

/*contact form*/

.contact {
    width: 500px;
    height: 800px;
    background-color: #666;
    opacity: 0.6;
    position: relative;
    left: 52rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    width: 100%;
    max-width: 500px;
    /*    opacity: 0.8;*/
}

.input-group {
    margin-bottom: 30px;
    position: relative;

}

input,
textarea {
    width: 400px;
    padding: 10px;
    outline: 2px;
    border: 4px solid black;
    color: darkred;
    /*    opacity: 10%;*/
    /*    background: transparent;*/
    background-color: #666;
    font-size: 1em;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1em;
    padding: 10px;
    color: white;
    cursor: text;

}

button {
    padding: 10px 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-size: 1.2em;
    outline: none;
    background: transparent;
    border: 4px solid black;
    width: 100%;
    cursor: pointer;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -30px;
}


/*end contact form*/


}

.main {
    padding: 10em;
    float: left;
    grid-area: m;

}

/* artist page css */
.artistpage {
    background-color: 333;
}


}

.boxcontainer {
    padding: 1em;


}

.box {
    width: 300px;
    height: 300px;
    float: left;
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    padding: 1em;
    grid-column-gap: 10rem;
    box-shadow: 0;

    position: relative;

}

.box img {
    height: 300px;
    width: 300px;
    filter: grayscale(100%);
}

.name {
    display: none;
}

.box:hover .name {
    display: block;

    position: absolute;

    top: 190px;
    left: 20px;
    font-size: .8em;

    padding: 10px;
    background: #000000;
    opacity: .7;
}

.box:hover img {
    filter: grayscale(0%);
}

/* end artist page css */

/*our team page css*/

.artistpage {
    background-color: 333;
}

}

.boxcontainer {
    padding: 1em;

}

.boxourteam {
    width: 300px;
    height: 300px;
    float: left;
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    padding: 1em;
    grid-column-gap: 1em;
    box-shadow: 0;

    position: relative;

}

.boxourteam img {
    /*    height: 300px;*/
    height: auto;
    width: 300px;
    filter: grayscale(100%);
}

.name {
    display: none;
}

.boxourteam:hover .name {
    display: block;


    position: absolute;


    top: 150px;
    left: 20px;
    font-size: .8em;

    padding: 10px;
    background: #000000;
    opacity: 0.7;
}

.boxourteam:hover img {
    filter: grayscale(0%);
}

/*end our team page css*/


.header {
    display: flex;
    float: center;
    position: relative;
}

.nav {
    justify-content: flex-end;
    /*    float: right;*/
    list-style: none;
    margin-top: 20px;
    padding-right: 30px;

}

.nav li {
    display: inline-block;
    text-decoration: none;
    padding: inherit;

}

.nav li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;


}

.nav li a:hover {
    color: darkorange;
    text-decoration-line: underline;
}

@media (max-width:720px) {
    font-size: 0.8em;

}

@media (iphone) {}

@media (watch) {}
