* {
    list-style: none;
    text-decoration-color: black;
    text-decoration: none;
}

body {
    background-color: white;
    color: forestgreen;
    font-family: cursive;
}

/*

#nav ul {
    font color: white;
    background-color: black;
    font-size: 200%;
    padding: 0;
    margin: 5em;
    border-color: red;
    padding: 0;

}

#nav li {
    display: inline;
*/


/*
.nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 30px;
}

.nav li {
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 20px;
    text-decoration: none;

}

.nav li a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    font-size: 30px;
    font-family: sans-serif;


}

.nav li a: hover {

    background: black;
    color: darkorange;
    border-radius: 20px;
    text-decoration-line: underline;


}
*/

}

.class {
    background: black;
    color: white;


}



div.second {
    font-size: 20%;
    line-height: 300%;
    text-align: center;
    margin: auto;
    border-color: solid #333;
}

#first {
    background: orange;
    margin: 8px;
    border: color #fff;
    border-radius: 20px 28px;

}

.second {
    background-color: beige;
}

.first {
    text-align: center;
    font-size: 200%;
    line-height: 300%;
}

/*
@media (min-width) {
    p {
        color: red
    }
}
*/
